.contact .row{
    /* border : 2px solid red; */
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45rem;
    text-align: center;
    padding: 3rem 2rem;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.4rem;
    color: #fff;
}
.contact .row form .input-box{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg) ;
    border: var(--border);
}
.contact .row form .input-box span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .row form .input-box  input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    text-transform: none;
    background: none;
    color: #fff;
}